<article class="post-content page-template no-image">
  <div class="post-content-body">
    <h2 id="clean-minimal-and-deeply-customisable-london-is-a-theme-made-for-people-who-appreciate-simple-lines-">
      Clean, minimal, and deeply customisable. This is a theme made for
      people who appreciate simple lines.
    </h2>
    <figure class="kg-card kg-image-card kg-width-full">
      <img
        src="/assets/images/bench-accounting-49909-unsplash.jpg"
        class="kg-image"
        alt=""
      />
      <figcaption>Large imagery is at the heart of this theme</figcaption>
    </figure>
    <h3 id="dynamic-styles">Dynamic styles</h3>
    <p>
      This theme comes with photo-centric main layout best suited to
      photography, graphics portfolios and other image-heavy uses.
    </p>
    <p>
      Both post and page templates are light and minimal, with all the
      focus on the content while the design of the theme gets out of the
      way.
  </div>
</article>
